<div id="FeaturedArticle" class="Box">
	<div class="Corner-tl" style="background-image:url({{ template_path }}/images/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{ template_path }}/images/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{ template_path }}/images/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{ template_path }}/images/content/title-background-green.gif);"></div>
	<img id="ContentBoxHeadline" class="Title" src="{{ template_path }}/images/header/headline-featuredarticle.gif" alt="Contentbox headline" />
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{ template_path }}/images/content/scroll.gif);">
				<a href="?account/create">
					<img style="margin-top: -75px; margin-left: 728px; position: absolute; overflow: visible; display: block;" src="{{ template_path }}/images/play.png"/>
				</a>
          <p><b>➤ Meraki Global Open PvP ✦ Client: 13.21 ✦ Brazil Host Low Ping</b></p>
          
          <p>
            O Meraki Global é um servidor brasileiro e 13.21 Open-pvp com mapa Global atualizado.
          </p>
          <p>
            <b>Create Account:<a href="?account/create"> Here</a></b>
            <b>Clients:<a href="?subtopic=downloadclient"> Download</a></b>
            <b>Get Coins:<a href="?donate"> Donate</a></b>
          </p>
          
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{ template_path }}/images/content/border-1.gif);"></div>
	<div class="CornerWrapper-b"><div class="Corner-bl" style="background-image:url({{ template_path }}/images/content/corner-bl.gif);"></div></div>
	<div class="CornerWrapper-b"><div class="Corner-br" style="background-image:url({{ template_path }}/images/content/corner-br.gif);"></div></div>
</div>